<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Let's Hack! -- Pair Challenge #{{challenge.id}}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/styles.css" media="screen" title="no title">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
</head>
<body>
  <nav>
    <div id="icon"></div>
    <div id="logo">Let's Hack!</div>
    <div class="nav-right">
      <div class="nav-item user-name">{{username}}</div>
      <div class="nav-item"><a href="#">Logout</a></div>
      <div class="nav-item"><a href="#">Profile</a></div>
      <div class="nav-item"><a href="#">Lobby</a></div>
    </div>
  </nav>
  <div class="container" id="header-box">
    <h1>Challenge #{{challenge.id}}: {{challenge.name}}</h1>
    <p>{{challenge.instructionsAll}}</p>
  </div>
  <div class="container">
    <div class="container columns" id="your-code">
        <h2>Your Task</h2>
        <p>{{challenge.instructionsA}}</p>
        <textarea cols="50" class="code-input"  wrap="soft">{{challenge.startCodeA}}</textarea>
        <br clear="all">
        <button>Test My Code</button>
    </div>
    <div class="container columns" id="partner-code">
        <h2>{{userB.displayName}}'s Task</h2>
        <p>{{challenge.instructionsB}}</p>
        <div class="code-input">
          <!-- starter code will come from firebase -->
        </div>
    </div>
  </div>
  <div class="container">
    <h2>Chat</h2>
    <input type="text" name="chatbox" size="50" id="chatbox"><button id="submit-chat">Send</button>
    <p id="chat-history">

    </p>
  </div>
  <script src="/js/firebase-config.js" type="text/javascript"></script>
  <script src="/js/firebase.js" type="text/javascript"></script>

  <footer>
      Let's Hack!
      &copy; 2017 Bill Bittner, Eric Hirschfield, Jesse Harold
  </footer>
  <script src="../public/js/firebase-config.js" type="text/javascript"></script>
  <script src="../public/js/firebase.js" type="text/javascript"></script>
  <script type="text/javascript">
    // get this data from the back end
    var sessionData = {
        sessionId : 34567,
        challengeId : 4567
    };
    var myPlayer = {
        screenname: "Harry", 
        id: 12345,
        playerRole: "a", 
        inChallenge: sessionData.challengeId, 
        codeSoFar: " "
    };
    var myPartner = {
        screenname:"Gerry", 
        id: 45678,
        playerRole: "b", 
        inChallenge: sessionData.challengeId, 
        codeSoFar: " "
    };

  /*
  // code to execute tests 
  on submit (
    if (
      var inputA = eval(codeA-input.val); 
      var inputB = eval(codeB-input.val);
 
 // OR

      {{inputA}}
            
      {{inputB}}

    var test = function(){
      {{test}}
    };
    
    if (test)
      {
        showTestSuccess();
      }
      else {
        showTestFail();
      }

    */
  </script>
</body>
</html>