<div class="container" id="header-box">
    <h1>Welcome to Let's Hack!</h1>
    <p>We will randomly assign you to another user, and give you both a challenge to solve together. You won't pass the challenge until both portions of the solution are correct, so make sure to communicate and help each other out!</p>
  </div>

  <div class="container" id="main-box">
    <div class="container columns main-column">
        <h2>Are You Ready?</h2>
        <button id="joinQueue" class="largeButton">Join Queue</button>
        <p>Join the queue and you will be paired randomly with another person, and given a challenge to solve!</p>
        <!--<p class="small">There are currently ***number of logged in users*** hackers online.</p>-->
        <ul class="onlineusers">
        {{#each usersonline}}
            <li>{{user.displayName}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="container columns side-column">
        <h3>Your Challenge History</h3>
        <div class="scroller">
            {{#unless user}}
            <p>Welcome! Please <a href="/login">log in</a>.</p>
            {{/unless}}
            <ul class="challenge-history">
            <!-- this gets populated by the frontend function showChallengeHistory --> 
            </ul>
        </div>
    </div>
  </div>
  <div class="container" style="position:relative">
    <h2>Lobby Chat</h2>
    <div class="chatStats">
        <div><span class="number">?</span> currently online</div>
        <div class="trigger-user-list">show user list &gt;&gt;</div>
        <div class="user-list"></div>
    </div>
    <input type="text" name="chatbox" size="50" id="chatbox"><button id="submit-chat">Send</button>
    <p id="chat-history">
    </p>
  </div>
  <script src="/js/lobby.js" type="text/javascript"></script>
  <script src="/js/chat.js" type="text/javascript"></script>
  <div class="dataHolder" data-displayname="{{user.displayName}}" data-userid="{{user.id}}"></div>
