<div class="container" id="header-box">
    <h1>Welcome to Let's Hack!</h1>
    <p>We will randomly assign you to another user, and give you both a challenge to solve together. You won't pass the challenge until both portions of the solution are correct, so make sure to communicate and help each other out!</p>
  </div>

  <div class="container" id="main-box">
    <div class="container columns main-column">
        <h2>Are You Ready?</h2>
        <button id="joinQueue">Join Queue</button>
        <!--<h2>Please Wait to be Paired with Someone...</h2>-->
        <p>Join the queue and you will be paired randomly with another person, and given a challenge to solve!</p>
        <p class="small">There are currently ***number of logged in users*** hackers online.</p>
        <ul class="onlineusers">
        {{#each usersonline}}
            <li>{{username}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="container columns side-column">
        <h3>Your Challenge History</h3>
        {{#unless user}}
        <p>Welcome! Please <a href="/login">log in</a>.</p>
        {{/unless}}
        <p>You have not completed any challenges yet.</p>
        <ul class="challenge-history">
        {{#each challengeHistory}}
            <li>{{id}}: {{name}}, completed on {{timestamp-success}}</li>
        {{/each}}
        </ul>
    </div>
  </div>
  <div class="container">
    <h2>Lobby Chat</h2>
    <input type="text" name="chatbox" size="50" id="chatbox"><button id="submit-chat">Send</button>
    <p id="chat-history">

    </p>
  </div>
  <script src="/js/firebase-config.js" type="text/javascript"></script>
  <script src="/js/lobby.js" type="text/javascript"></script>
  <script src="/js/chat.js" type="text/javascript"></script>
  <script lang="text/javascript">
   // create variables with data from server
   // data for logged in user and each online user
  </script>
