<h1>LOG IN PAGE</h1>

<form action="/login" method="POST">
    	<div>
        	<label>Username:</label>
        	<input type="text" name="email"/><br/>
    	</div>
  	  <div>
        	<label>Password:</label>
        	<input type="password" name="password"/>
      </div>
      <div>
      	   <input type="submit" value="Submit"/>
    	</div>
</form>
