<div class="login-page">
<div class="container" id="login-box">
	<div id="logo">Let's Hack!<div id="icon"></div></div>
	<div class="columns main-column">
		<h2>Sign Up</h2>
		<p>
			<form method="POST" action="/signup">
				Choose a Username:<br>
				<input type="text" name="username"><br>
				Your Email:<br>
				<input type="text" name="email"><br>
				Choose a Password:<br>
				<input type="text" name="password"><br>
				Confirm Password:
				<input type="text" name="passwordConfirm"><br>
				<input type="submit" value="Submit"/>
			</form>
		</p>
	</div>
	<div class="columns side-column">
		<h2>Log In</h2>
		<p>
			<form method="POST" action="/login">
				Email:<br>
				<input type="text" name="email"><br>
				Password:<br>
				<input type="text" name="password"><br>
				<input type="submit" value="Submit"/>
			</form>
		</p>
	</div>
</div>
</div>