body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #D9D9D9;
    color: #000;
}
body.login-page {
    background-color: #4484CE;
    color: #000;
}
h1, h2 {
    margin-top: 0;
    color: #267126;
    font-family: 'Concert One', cursive;
}
ul {
    list-style: none;
}
input[type=text] {
    margin-bottom: 10px;
}
#icon {
    background-image: url(../img/logo-sm.png);
    display: block;
    width: 77px;
    height: 42px;
    background-size: cover;
    float: left;
    background-color: #4484CE;
    margin: 0 12px;
    background-position-y: -3px;
}
nav #icon {
    cursor: pointer;
}
.login-page #icon {
    float: right;
    width: 150px;
    height: 82px;
    background-color: white;
    margin: 0;
    background-position-y: -10px;
    background-repeat: no-repeat;
}
#logo {
    font-family: 'Concert One', cursive;
    font-size: 1.6em;
    letter-spacing: 2px;
    text-shadow: black 2px 2px 1px;
}
.login-page #logo {
    font-family: 'Concert One', cursive;
    font-size: 4em;
    text-shadow: black 2px 2px 1px;
    text-align: right;
    margin: 0 0 20px 0;
    line-height: 40px;
    color: #F9CF00;
}
#header-box {
    background-color: #d9d9d9;
    padding-bottom: 0;
    margin-bottom: -10px;
    padding-top: 0;
}
#main-box {
    background-color: #d9d9d9;
}

#login-box.container {
    margin-top: 10%;
    max-width: 710px;
    border-radius: 12px;
}
.container {
    background-color: white;
    margin: 20px auto;
    padding: 2%;
}
.fullWidth {
    min-width: 350px;
    min-height: 350px;
}
.columns {
    width: 50%;
    float: left;
    padding: 0 2%;
    margin: 0;
}
.side-column {
    background-color: #d9d9d9;
    text-align: right;
    font-size: smaller;
}
.main-column {
    padding: 10px 30px;
    margin: 0;
    border-radius: 12px;
}
p.small {
    font-size: .8em;
}
.largeButton {
    float: right;
    background-color: #2f2fa9;
    color: white;
    border: 0;
    font-size: 1.5em;
    padding: 9px;
    margin: 6px;
}
.smallButton {
    background-color: #2f2fa9;
    color: white;
    border: 0;
    font-size: 1em;
    padding: 4px;
    margin: 10px 4px;
}
.profileSection .smallButton {
    display: none;
    /* these are commented out until profile edit feature can be added */
}
.login-page .side-column {
    font-size: unset;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
}
.code-input {
    border: 1px solid #8BC34A;
    min-height: 350px;
    padding: 5px 10px;
    color: #F9CF00;
    background-color: black;
    font-family: monospace;
    white-space: pre;
}
#chat-history {
    background-color: #F9CF00;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin: 1% 0;
    padding: 4px 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-message-user-a {
    color: black
}
.chat-message-user-b {
    background-color: #77dc35;
    color: black
}
.chatter {
    font-style: italic;
}
nav {
    background-color: #4484CE;
    color: white;
    padding: 4px;
    height: 32px;
    width: 100%;
    min-width: 490px;
}
nav a, nav a:active, nav a:visited, nav a:hover {
    color: white;
}
nav .nav-right, nav .nav-item {
    float: right;
    font-size: small;
}
nav .nav-right {
    width: 50%;
    display: none;
}
nav .nav-item {
    padding-right: 3%;
}
nav #logo {
    float: left;
    width: 20%;
    min-width: 120px;
    font-size: 1.5em;
    cursor: pointer;
}
footer {
    text-align: center;
    margin: 60px 0;
    color: #888;
    font-size: small;
}
#modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#modal .modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
}
#modal .modal-container {
    position: relative;
    background-color: white;
    width: 50%;
    min-height: 200px;
    margin: 5% auto;
    padding: 8px 16px;
    border-radius: 7px;
}
#modal .modal-close {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 4px;
    top: 4px;
    border: 1px #333 solid;
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    background-color: #4484CE;
}
